@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --cta-bg: #1d4ed8;
  --card-stroke-color: #e5e7eb;
  --accent-color: #2563eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 60px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 24px;
}

button {
  border: none;
}

button.cta {
  border-radius: 10px;
  font-weight: bold;
  background-color: var(--cta-bg);
  color: white;
}

button.cta.header-cta {
  padding: 12px 24px;
}

section {
  padding: 80px 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#hero-wrapper {
  aspect-ratio: 1080 / 720;
  color: white;
  background:
    linear-gradient(90deg, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%),
    linear-gradient(45deg, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.88) 87%),
    url("../assets/banner.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 54px 0;

  section {
    height: 100%;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 0;

    div {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: center;

      h1 {
        font-size: 80px;
        line-height: 80px;
        letter-spacing: -3.2px;
      }

      p {
        width: 829px;
        font-size: 22px;
        line-height: 24px;
      }
    }
  }
}

button.cta.hero-cta {
  padding: 22.5px 45px;
  font-size: 24px;
  line-height: 24px;
}

section#speakers {
  gap: 40px;

  h2 {
    font-size: 56px;
    line-height: 64.4px;
  }

  div.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;

    div.item {
      border-radius: 12px;
      overflow: clip;
      border: 1px solid var(--card-stroke-color);

      div.details {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        p.field {
          color: var(--accent-color);
          font-size: 12px;
          line-height: 18px;
        }

        h3.name {
          font-size: 20px;
          line-height: 27.5px;
        }

        p.designation {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }
}
